body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #EFE8E3;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 25px;
    background-color: #EFE8E3;
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 100px;
    margin-left: 165px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 105%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    color: #004830;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: all 1s ease;

}

.nav-item:hover a {
    color: #7fa72d;
    transform: scale(1.2);
}


.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 4px;
    margin-right: 5%;
    margin-left: -19%;
}

.buttons {
    width: 60%;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #7fa72d;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 1s ease;
}

.buttons:hover {
    transform: scale(1.2);
}

.nav-central {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #004830;
}

.textos h4 {
    color: #004830;
    font-size: 25px;
}

input[type="nome"],
input[type="email"],
input[type="tel"],
input[type="celular"] {
    width: 1000px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    cursor: pointer;
}

input[type="text"] {
    width: 880px;
    padding: 70px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    cursor: pointer;
}


input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}


.enviar {
    width: 20%;
    padding: 12px;
    margin-top: 20px;
    background-color: #9bb23c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.enviar:hover {
    background-color: #7f9e2f;
}