/* HEARDER */
* {
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f1e8;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 25px;
    background-color: #f5f1e8;
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 100px;
    margin-left: 165px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 105%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    color: #004830;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: all 1s ease;

}

.nav-item:hover a {
    color: #7fa72d;
    transform: scale(1.2);
}


.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 4px;
    margin-right: 5%;
    margin-left: -19%;
}

.buttons {
    width: 70%;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #7fa72d;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transition: all 1s ease;
}

.buttons:hover {
    background-color: #004830;
    transform: scale(1.2);
}

/* HOME SCREEN */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.imagemhero {
    width: 100%;
    height: 150vh;
    object-fit: cover;
    margin-bottom: -205px;
    margin-top: -295px;
}

.heroText {
    position: absolute;
    right: 10%;
    margin-right: -20px;
    margin-bottom: 109px;
    bottom: 40px;
    color: #f5f1e8;
    font-size: 60px;
    text-align: right;
    font-family: "Montserrat", sans-serif;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
}

.aboutText h2 {
    font-size: 30px;
    margin-bottom: 100px;
    color: #355e3b;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.aboutText {
    width: 50%;
    font-size: 25px;
    line-height: 1.8;
    justify-content: center;
    color: #355e3b;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 50px;
}

.about img {
    width: 90%;
    height: 90%;
    margin-left: 90px;
    border-radius: 8px;
}

.benefit {
    display: flex;
    justify-content: space-around;
    padding: 60px 80px;
    background-color: #f5f1e8;
}

.card {
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #7FA72D;
    color: #efe8e3;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.card #card1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.card #card2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card #card3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card #card4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 22px;
    font-weight: bold;
    color: #efe8e3;
    margin-bottom: 30px;
    margin-top: 60px;
}

.card p {
    font-size: 22px;
    line-height: 2.0;
    display: flex;
    color: #00271A;
    margin-bottom: 80px;
    text-align: center;
}

.ctxButton {
    display: inline-block;
    text-align: center;
    background-color: #7fa72d;
    width: 50%;
    font-size: 1.1rem;
    color: #efe8e3;
    border: none;
    padding: 14px 80px;
    margin-bottom: 100px;
    margin-top: 70px;
    margin-right: 100px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.ctxButton:hover {
    background-color: #004830;
}

/* CONTEXTO */
.nav-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.imagemTopo {
    width: 100%;
    height: 150vh;
    margin-bottom: -180px;
    margin-top: -290px;
    object-fit: cover;

}

.texto {
    position: absolute;
    right: 10%;
    margin-right: -20px;
    margin-bottom: 29px;
    bottom: 40px;
    color: #f5f1e8;
    text-align: right;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
}

.nav-meio1 {
    background-color: #f5f1e8;
    padding: 20px;
    width: 100%;
    height: 100%;
    padding: 9px;
    font-size: 30px;
}

.nav-meio1 h4 {
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
    color: #7fa72d;
    font-family: "Montserrat", sans-serif;
}

.nav-meio1 p {
    text-align: justify;
    width: 50%;
    margin-left: 10%;
    color: #004830;
    font-family: "Montserrat", sans-serif;
}

.nav-meio1 img {
    width: 12%;
    padding: 1px;
    margin-left: 72%;
    align-items: center;

}

.imagem1 {
    margin: -200px 50px 95px;

}

.nav-meio2 {
    background-color: #7FA72D;
    width: 100%;
    height: 100%;
    padding: 9px;
    font-size: 30px;
}

.nav-meio2 h4 {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #f5f1e8;
    font-family: "Montserrat", sans-serif;
}

.nav-meio2 p {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #004830;
    font-family: "Montserrat", sans-serif;
}

.imagem2 {
    margin: -200px 50px 95px;

}

.nav-meio3 {
    background-color: #f5f1e8;
    padding: 20px;
    width: 100%;
    height: 100%;
    padding: 9px;
    font-size: 30px;
}

.nav-meio3 h4 {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #7FA72D;
    font-family: "Montserrat", sans-serif;
}

.nav-meio3 p {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #004830;
    font-family: "Montserrat", sans-serif;
}

.imagem3 {
    margin: -210px 50px 95px;

}

.nav-meio4 {
    background-color: #7FA72D;
    padding: 20px;
    width: 100%;
    height: 100%;
    padding: 9px;
    font-size: 30px;
}

.nav-meio4 h4 {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #f5f1e8;
    font-family: "Montserrat", sans-serif;
}

.nav-meio4 p {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #004830;
    font-family: "Montserrat", sans-serif;
}

.imagem4 {
    margin: -210px 50px 95px;

}

.nav-meio5 {
    background-color: #f5f1e8;
    padding: 20px;
    width: 100%;
    height: 100%;
    padding: 9px;
    font-size: 30px;
}

.nav-meio5 h4 {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #7FA72D;
    font-family: "Montserrat", sans-serif;
}

.nav-meio5 h5 {
    width: 50%;
    top: 10%;
    left: 10%;
    color: #004830;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.nav-meio5 button {
    background-color: #7aa334;
    color: #f5f1e8;
    border: none;
    padding: 10px 20px;
    height: 60px;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 255px;
    cursor: pointer;
    margin-top: 90px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.5s ease;
}

.nav-meio5 button:hover {
    background-color: #004830;
}

.nav-meio5 .imagem5 {
    margin: -500px 50px 95px;
    display: flex;
    width: 600px;
    height: 550px;
    max-width: 8000vh;
    margin-top: -350px;
    margin-left: 1000px;
    border-radius: 8px;
    object-fit: cover;
}

/* QUEM SOMOS */

.secao-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 100px;
}

.primeira-img {
    width: 600px;
    height: auto;
    object-fit: cover;
    margin-left: -80px;
}

.titulo-principal {
    font-size: 35px;
    color: #7FA72D;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    display: block;
    margin-bottom: 50px;

}

.paragrafo-titulo-principal {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    color: #004830;
    line-height: 1.8;
    max-width: 600px;
}

.secoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 100px;
}

.paragrafo-um {
    font-size: 22px;
    color: #004830;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    display: block;
    margin-bottom: 30px;
    line-height: 1.8;
}

.paragrafo-dois {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    color: #004830;
    line-height: 150%;
    max-width: 600px;
}

.segunda-img {
    width: 600px;
    height: auto;
    object-fit: cover;

}

.valores {
    /* padding: 60px 120px; */
    background-color: #f5f1e8;
    padding: 60px 0;
    /* espaçamento vertical */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.valores h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: left;
    color: #004830;
    font-size: 40px;
    margin-bottom: 30px;

}

.card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 500px);
    gap: 25px 60px;
    justify-items: stretch;
    font-family: "Montserrat", sans-serif;

}

.cards-sobre-nos {
    background-color: #7FA72D;
    padding: 50px 25px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    margin-bottom: 70px;

}

.paragrafo-card {
    color: #004830;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: 20px;

}

.titulo-card {
    color: #EFE8E3;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -20px;
    margin-left: 20px;
}


/* ORÇAMENTO */
.nav-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #004830;
    margin-bottom: 50px;
}

.textos p {
    color: #004830;
    font-size: 25px;
    margin-bottom: 5px;
}

input[type="nome"],
input[type="email"],
input[type="tel"],
input[type="celular"] {
    width: 1000px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 880px;
    padding: 70px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    cursor: pointer;
}


input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.enviar {
    width: 20%;
    padding: 14px;
    margin-top: 20px;
    background-color: #7fa72d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

.enviar:hover {
    background-color: #004830;
}

/* SIMULADOR FINANCEIRO */
.simulador {
    width: 90%;
    margin-top: 100px;
    max-width: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.simulador h1 {
    color: #004830;
    margin-bottom: 80px;
}

.simulador b {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #7fa72d;
}

.introducao {
    margin-bottom: 60px;
    font-size: 16px;
    text-align: center;
    color: #004d3b;
}

.input-group {
    margin-bottom: 70px;
    text-align: center;
    color: #004d3b;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #e0e0e0;
    
}

.simular-btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.simular-btn button {
    width: 50%;
    padding: 14px;
    margin-bottom: 300px;
    border: none;
    border-radius: 5px;
    background-color: #7fa72d;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.simular-btn button:hover {
    background-color: #004830;
}

#resultado {
    margin-top: -150px;
    margin-bottom: 100px;
    text-align: left;
    color: #004830;

}
.left-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; /* espaço entre os blocos */
    margin: 100px auto;
    flex-wrap: wrap; /* se quiser que empilhe no celular */
}

.left {
    flex-direction: row;
    background-color: #ffffff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	width: 60%;
    
	/* max-width: 100%; */
	/* min-height: 480px; */
}

.right {
    flex-direction: row;
    background-color: #ffffff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	width: 30%;
	/* max-width: 100%; */
	/* min-height: 480px; */
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #004d3b;
    color: #d4af37;
    padding: 30px 80px;
    font-family: "Montserrat", sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-logo img {
    width: 160px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 100px;
    margin-left: -155px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
}

.footer-column h4 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #d4af37;
}

.footer-column p,
.footer-column a {
    font-size: 13px;
    color: #EFE8E3;
    margin: 5px 0;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #f5f1e8;
    text-align: right;
    padding-top: 10px;
    margin-top: 20px;
}

.footer-bottom p {
    color: #f5f1e8;
    font-size: 12px;
    margin-right: 5%;
}